<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Angularjs</title>
</head>
<body ng-app>
	<div ng-init="friends = [{name:'Tom', phone:'073-55'},
                         {name:'Oleg', phone:'067-33'},
                         {name:'Alexander', phone:'096-00'},
                         {name:'Alexey', phone:'067-88'}]"></div>

<label>Search: <input ng-model="searchText"></label>
<table id="searchTextResults">
  <tr><th>Name</th><th>Phone</th></tr>
  <tr ng-repeat="friend in friends | filter:searchText">
    <td>{{friend.name}}</td>
    <td>{{friend.phone}}</td>
  </tr>
</table>
	







	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

</body>
</html>